# Amasya İli İlçelerinde Elektrik Tüketim ve Ödeme Davranışlarının Analizi

## Notebook_01: Veri Keşfi ve Tanımlayıcı İstatistik

### 1. Veri Yükleme

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "elektrik_veri_hashed.xlsx"
xls = pd.ExcelFile(file_path)

print("Sayfa İsimleri: " , xls.sheet_names)

Sayfa İsimleri:  ['Tahsilat', 'Tahsilat 1', 'Tahakkuk', 'Tahakkuk 1', 'Tahakkuk 2']

In [3]:
df_tahsilat = pd.read_excel(xls, sheet_name="Tahsilat")       # ödeme işlemleri
df_tahsilat_1 = pd.read_excel(xls, sheet_name="Tahsilat 1")   # fatura işlemleri
df_tahakkuk = pd.read_excel(xls, sheet_name="Tahakkuk")       # Hamamözü
df_tahakkuk_1 = pd.read_excel(xls, sheet_name="Tahakkuk 1")   # Gümüşhacıköy
df_tahakkuk_2 = pd.read_excel(xls, sheet_name="Tahakkuk 2")   # Göynücek

### 2. Veri Setinin Genel İncelemesi

#### 2.1. Tahsilat (Ödeme İşlemleri) Veri Yapısı İnceleme

In [22]:
print("Tahsilat Shape: " , df_tahsilat.shape)

Tahsilat Shape:  (636993, 9)

In [23]:
print(df_tahsilat.head())

             Şube            Kasa    İlçe  Söz.hsp.(bağımsız) Tahsilat Tarihi  \
0  Tayin edilmedi  Tayin edilmedi  TAŞOVA          4989745446      2023-11-06
1  Tayin edilmedi  Tayin edilmedi  TAŞOVA          4989745446      2024-06-26
2  Tayin edilmedi  Tayin edilmedi  TAŞOVA          4989745446      2024-07-10
3             PTT          PTT/PV  TAŞOVA          4254955886      2023-01-19
4             PTT          PTT/PV  TAŞOVA          4254955886      2023-02-17

   Nakit Tahsilat  Mahsuben Tahsilat  Kredi Kartı Tahsilatı  Banka Tahsilatı
0             NaN            8648.95                    NaN              NaN
1             NaN             762.40                    NaN              NaN
2             NaN             311.60                    NaN              NaN
3             NaN                NaN                    NaN            130.5
4             NaN                NaN                    NaN            117.0

In [24]:
print(df_tahsilat.tail())

                  Şube    Kasa          İlçe  Söz.hsp.(bağımsız)  \
636988        HALKBANK  HLK/PV  GÜMÜŞHACIKÖY          7198356519
636989  AKTİFBANK-BAYİ  BAY/PB        TAŞOVA          2239951250
636990  AKTİFBANK-BAYİ  BAY/PB        TAŞOVA          8122050051
636991  AKTİFBANK-BAYİ  BAY/PB        TAŞOVA           946697585
636992       AKTİFBANK  AKT/PN      GÖYNÜCEK          6422892109

       Tahsilat Tarihi  Nakit Tahsilat  Mahsuben Tahsilat  \
636988      2025-05-27             NaN                NaN
636989      2025-05-27         1013.01                NaN
636990      2025-05-28         1013.01                NaN
636991      2025-05-28         1420.65                NaN
636992      2025-05-30             NaN                NaN

        Kredi Kartı Tahsilatı  Banka Tahsilatı
636988                    NaN          1609.21
636989                    NaN              NaN
636990                    NaN              NaN
636991                    NaN              NaN
636992                    NaN           705.69

In [25]:
print(df_tahsilat.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  datetime64[ns]
 5   Nakit Tahsilat         523 non-null     float64
 6   Mahsuben Tahsilat      7542 non-null    float64
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 43.7+ MB
None

In [26]:
print(df_tahsilat.describe())

       Söz.hsp.(bağımsız)                Tahsilat Tarihi  Nakit Tahsilat  \
count        6.369930e+05                         636993      523.000000
mean         5.019884e+09  2024-03-05 09:26:07.644856320      694.966635
min          1.758320e+05            2023-01-01 00:00:00        7.450000
25%          2.532887e+09            2023-07-28 00:00:00      425.330000
50%          5.008502e+09            2024-02-26 00:00:00      524.670000
75%          7.525722e+09            2024-09-30 00:00:00      688.830000
max          9.999600e+09            2025-05-31 00:00:00    11373.740000
std          2.884435e+09                            NaN      758.319428

       Mahsuben Tahsilat  Kredi Kartı Tahsilatı  Banka Tahsilatı
count        7542.000000                    0.0    628933.000000
mean         6180.182282                    NaN       372.629109
min        -34508.950000                    NaN         0.010000
25%            44.477500                    NaN       120.000000
50%           290.410000                    NaN       208.000000
75%          2729.110000                    NaN       322.000000
max        399526.780000                    NaN    606473.800000
std         23828.022593                    NaN      3265.430202

#### 2.2. Tahsilat 1 (Fatura İşlemleri) Veri Yapısı İnceleme

In [29]:
print("Tahsilat 1 Shape: " , df_tahsilat_1.shape)

Tahsilat 1 Shape:  (917632, 22)

In [30]:
print(df_tahsilat_1.head())

  Mali yıl/dönem      İl      İlçe  Söz.hsp.(bağımsız) Hesap Sınıfı  \
0       OCK 2023  AMASYA  GÖYNÜCEK          9374624783       Mesken
1       OCK 2023  AMASYA  GÖYNÜCEK           236184905       Mesken
2       OCK 2023  AMASYA  GÖYNÜCEK          9657731015       Mesken
3       OCK 2023  AMASYA  GÖYNÜCEK          9554442880       Mesken
4       OCK 2023  AMASYA  GÖYNÜCEK          6031642522       Mesken

   Tahakkuk Tutar  Son Ödeme Tarihinden Önceki Tahsilat  \
0            5.03                                  0.03
1           26.46                                  0.06
2          121.53                                   NaN
3          117.49                                   NaN
4          170.30                                170.30

   Son Ödeme Tarihindeki Tahsilat  Son Ödeme (1)  Son Ödeme (2)  ...  \
0                             NaN            NaN            NaN  ...
1                           26.40            NaN            NaN  ...
2                             NaN            NaN         121.53  ...
3                          117.49            NaN            NaN  ...
4                             NaN            NaN            NaN  ...

   Son Ödeme (5)  Son Ödeme (6-10)  Son Ödeme (10-20)  Son Ödeme (20-30)  \
0            NaN               NaN                NaN                NaN
1            NaN               NaN                NaN                NaN
2            NaN               NaN                NaN                NaN
3            NaN               NaN                NaN                NaN
4            NaN               NaN                NaN                NaN

   Son Ödeme (30-60)  Son Ödeme (60-90)  Son Ödeme (90-120)  \
0                NaN                NaN                 5.0
1                NaN                NaN                 NaN
2                NaN                NaN                 NaN
3                NaN                NaN                 NaN
4                NaN                NaN                 NaN

   Son Ödeme (120-150)  Son Ödeme (150-180)  Son Ödeme (180+)
0                  NaN                  NaN               NaN
1                  NaN                  NaN               NaN
2                  NaN                  NaN               NaN
3                  NaN                  NaN               NaN
4                  NaN                  NaN               NaN

[5 rows x 22 columns]

In [32]:
print(df_tahsilat_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  float64
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  float64
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  float64
 8   Son Ödeme (1)                         20902 non-null   float64
 9   Son Ödeme (2)                         21664 non-null   float64
 10  Son Ödeme (3)                         18893 non-null   float64
 11  Son Ödeme (4)                         16995 non-null   float64
 12  Son Ödeme (5)                         7323 non-null    float64
 13  Son Ödeme (6-10)                      45708 non-null   float64
 14  Son Ödeme (10-20)                     48281 non-null   float64
 15  Son Ödeme (20-30)                     29005 non-null   float64
 16  Son Ödeme (30-60)                     23030 non-null   float64
 17  Son Ödeme (60-90)                     7184 non-null    float64
 18  Son Ödeme (90-120)                    3820 non-null    float64
 19  Son Ödeme (120-150)                   2302 non-null    float64
 20  Son Ödeme (150-180)                   1551 non-null    float64
 21  Son Ödeme (180+)                      4827 non-null    float64
dtypes: float64(17), int64(1), object(4)
memory usage: 154.0+ MB
None

In [34]:
print(df_tahsilat_1.describe())

       Söz.hsp.(bağımsız)  Tahakkuk Tutar  \
count        9.176320e+05    9.176320e+05
mean         5.010893e+09    5.085794e+02
std          2.883691e+09    5.052666e+03
min          1.758320e+05   -1.279328e+04
25%          2.513721e+09    1.101500e+02
50%          5.009565e+09    2.020700e+02
75%          7.509497e+09    3.215700e+02
max          9.999760e+09    1.173258e+06

       Son Ödeme Tarihinden Önceki Tahsilat  Son Ödeme Tarihindeki Tahsilat  \
count                         623908.000000                   328193.000000
mean                             206.312521                      547.264676
std                             2855.301668                     3898.724314
min                           -12793.280000                        0.000000
25%                                0.320000                      116.600000
50%                               44.220000                      210.990000
75%                              210.220000                      334.270000
max                           799298.890000                   429056.570000

       Son Ödeme (1)  Son Ödeme (2)  Son Ödeme (3)  Son Ödeme (4)  \
count   20902.000000   21664.000000   18893.000000   16995.000000
mean      643.061367     553.709882     414.438863     536.363810
std      5454.365338    5123.756510    2650.055196    6242.186627
min       -70.000000    -296.930000    -120.600000       0.000000
25%       125.610000     112.922500     119.000000     116.905000
50%       222.000000     211.000000     203.000000     208.070000
75%       349.977500     333.000000     320.000000     329.865000
max    393238.000000  319120.000000  152377.000000  560239.000000

       Son Ödeme (5)  Son Ödeme (6-10)  Son Ödeme (10-20)  Son Ödeme (20-30)  \
count    7323.000000      45708.000000       48281.000000       29005.000000
mean      516.075436        558.643866         583.558553         801.017507
std      3451.492687       6666.262578        7178.350454        7154.314816
min      -752.000000       -100.660000        -962.000000           0.000000
25%       115.000000        121.905000         115.000000         109.000000
50%       218.540000        213.590000         210.000000         220.880000
75%       344.985000        330.000000         334.000000         382.470000
max    158004.450000     550420.870000      550859.750000      694275.910000

       Son Ödeme (30-60)  Son Ödeme (60-90)  Son Ödeme (90-120)  \
count       23030.000000       7.184000e+03         3820.000000
mean          918.617756       1.257710e+03          671.639885
std          7105.333937       2.007415e+04         5979.226329
min         -6837.000000      -7.010000e+02         -770.000000
25%            77.000000       4.285750e+01           30.330000
50%           172.955000       1.070000e+02           76.000000
75%           320.987500       2.195575e+02          164.000000
max        221781.470000       1.051591e+06       150233.960000

       Son Ödeme (120-150)  Son Ödeme (150-180)  Son Ödeme (180+)
count          2302.000000          1551.000000       4827.000000
mean            322.164222           393.359884        159.776611
std            3220.519683          5264.099250       2619.161924
min            -349.000000             0.000000     -15206.880000
25%              24.125000            23.000000         13.470000
50%              55.370000            49.000000         32.000000
75%             124.130000           106.500000         76.000000
max           89285.680000        169410.490000     141070.520000

#### 2.3. Tahakkuk (Hamamözü) Veri Yapısı İnceleme

In [36]:
print("Tahakkuk Shape: " , df_tahakkuk.shape)

Tahakkuk Shape:  (124818, 10)

In [38]:
print(df_tahakkuk.head())

       il      ilce  sozlesme_hesap_no mali_yil_donem fatura_tarihi  \
0  AMASYA  HAMAMÖZÜ          917576806     2023-01-01    2023-01-12
1  AMASYA  HAMAMÖZÜ          917576806     2023-01-01    2023-02-09
2  AMASYA  HAMAMÖZÜ          917576806     2023-02-01    2023-02-09
3  AMASYA  HAMAMÖZÜ          917576806     2023-02-01    2023-03-10
4  AMASYA  HAMAMÖZÜ          917576806     2023-03-01    2023-03-10

  kayit_tarihi vade_tarihi hesap_sinifi Hesap Sınıfı   kwh
0   2023-03-06  2023-01-23         M001       Mesken  1.79
1   2023-05-11  2023-02-20         M001       Mesken  2.60
2   2023-05-11  2023-02-20         M001       Mesken  1.23
3   2023-05-11  2023-03-20         M001       Mesken  2.56
4   2023-05-11  2023-03-20         M001       Mesken  1.35

In [39]:
print(df_tahakkuk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124818 entries, 0 to 124817
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 124818 non-null  object
 1   ilce               124818 non-null  object
 2   sozlesme_hesap_no  124818 non-null  int64
 3   mali_yil_donem     124818 non-null  object
 4   fatura_tarihi      124818 non-null  object
 5   kayit_tarihi       124818 non-null  object
 6   vade_tarihi        124818 non-null  object
 7   hesap_sinifi       124818 non-null  object
 8   Hesap Sınıfı       124818 non-null  object
 9   kwh                124818 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 9.5+ MB
None

In [40]:
print(df_tahakkuk.describe())

       sozlesme_hesap_no            kwh
count       1.248180e+05  124818.000000
mean        5.044916e+09      70.874619
std         2.874544e+09     389.217875
min         2.903944e+06   -1242.990000
25%         2.577471e+09      15.490000
50%         5.027442e+09      40.560000
75%         7.594090e+09      70.430000
max         9.991894e+09   25941.600000

#### 2.4. Tahakkuk 1 (Gümüşhacıköy) Veri Yapısı İnceleme

In [41]:
print("Tahakkuk 1 Shape: " , df_tahakkuk_1.shape)

Tahakkuk 1 Shape:  (765657, 10)

In [42]:
print(df_tahakkuk_1.head())

       il          ilce  sozlesme_hesap_no mali_yil_donem fatura_tarihi  \
0  AMASYA  GÜMÜŞHACIKÖY         7444449517     2023-01-01    2023-01-11
1  AMASYA  GÜMÜŞHACIKÖY         7444449517     2023-01-01    2023-02-10
2  AMASYA  GÜMÜŞHACIKÖY         7444449517     2023-02-01    2023-02-10
3  AMASYA  GÜMÜŞHACIKÖY         7444449517     2023-02-01    2023-03-10
4  AMASYA  GÜMÜŞHACIKÖY         7444449517     2023-03-01    2023-03-10

  kayit_tarihi vade_tarihi hesap_sinifi Hesap Sınıfı    kwh
0   2023-03-06  2023-01-23         M001       Mesken  21.85
1   2023-05-11  2023-02-20         M001       Mesken  44.50
2   2023-05-11  2023-02-20         M001       Mesken  22.25
3   2023-05-11  2023-03-20         M001       Mesken  45.71
4   2023-05-11  2023-03-20         M001       Mesken  25.40

In [43]:
print(df_tahakkuk_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765657 entries, 0 to 765656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 765657 non-null  object
 1   ilce               765657 non-null  object
 2   sozlesme_hesap_no  765657 non-null  int64
 3   mali_yil_donem     765657 non-null  object
 4   fatura_tarihi      765657 non-null  object
 5   kayit_tarihi       765657 non-null  object
 6   vade_tarihi        765657 non-null  object
 7   hesap_sinifi       765657 non-null  object
 8   Hesap Sınıfı       765657 non-null  object
 9   kwh                765657 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 58.4+ MB
None

In [44]:
print(df_tahakkuk_1.describe())

       sozlesme_hesap_no            kwh
count       7.656570e+05  765657.000000
mean        5.019916e+09      97.336632
std         2.881724e+09    1077.758336
min         2.561140e+05  -25370.640000
25%         2.519995e+09      18.570000
50%         5.030422e+09      48.310000
75%         7.517065e+09      82.720000
max         9.998331e+09  153575.730000

#### 2.5. Tahakkuk 2 (Göynücek) Veri Yapısı İnceleme

In [45]:
print("Tahakkuk 2 Shape: " , df_tahakkuk_2.shape)

Tahakkuk 2 Shape:  (295223, 10)

In [46]:
print(df_tahakkuk_2.head())

       il      ilce  sozlesme_hesap_no mali_yil_donem fatura_tarihi  \
0  AMASYA  GÖYNÜCEK         9374624783     2023-01-01    2023-01-14
1  AMASYA  GÖYNÜCEK         9374624783     2023-01-01    2025-03-12
2  AMASYA  GÖYNÜCEK         9374624783     2023-02-01    2025-03-12
3  AMASYA  GÖYNÜCEK         9374624783     2023-03-01    2025-03-12
4  AMASYA  GÖYNÜCEK         9374624783     2023-04-01    2025-03-12

  kayit_tarihi vade_tarihi hesap_sinifi Hesap Sınıfı   kwh
0   2023-03-06  2023-01-24         M001       Mesken  0.10
1   2025-05-09  2025-03-24         M001       Mesken  0.12
2   2025-05-09  2025-03-24         M001       Mesken  0.20
3   2025-05-09  2025-03-24         M001       Mesken  0.00
4   2025-05-09  2025-03-24         M001       Mesken  0.08

In [47]:
print(df_tahakkuk_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295223 entries, 0 to 295222
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 295223 non-null  object
 1   ilce               295223 non-null  object
 2   sozlesme_hesap_no  295223 non-null  int64
 3   mali_yil_donem     295223 non-null  object
 4   fatura_tarihi      295223 non-null  object
 5   kayit_tarihi       295223 non-null  object
 6   vade_tarihi        295223 non-null  object
 7   hesap_sinifi       295223 non-null  object
 8   Hesap Sınıfı       295223 non-null  object
 9   kwh                295223 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 22.5+ MB
None

In [48]:
print(df_tahakkuk_2.describe())

       sozlesme_hesap_no            kwh
count       2.952230e+05  295223.000000
mean        4.950566e+09      89.669891
std         2.887724e+09     742.276369
min         1.118550e+06   -4208.640000
25%         2.432854e+09      17.860000
50%         4.928206e+09      45.090000
75%         7.475616e+09      77.140000
max         9.997185e+09  105687.690000

### 3. Benzersiz Müşteriler

In [53]:
print("Hamamözü Benzersiz Müşteri Sayısı: ", df_tahakkuk["sozlesme_hesap_no"].nunique())
print("Gümüşhacıköy Benzersiz Müşteri Sayısı: ", df_tahakkuk_1["sozlesme_hesap_no"].nunique())
print("Göynücek Benzersiz Müşteri Sayısı: ", df_tahakkuk_2["sozlesme_hesap_no"].nunique())

Hamamözü Benzersiz Müşteri Sayısı:  2981
Gümüşhacıköy Benzersiz Müşteri Sayısı:  18190
Göynücek Benzersiz Müşteri Sayısı:  7128

### 4. Tüm Tahakkuk Verilerini Birleştirme

In [54]:
df_tahakkuk_all=pd.concat([df_tahakkuk, df_tahakkuk_1, df_tahakkuk_2], ignore_index=True)

df_tahakkuk_all.shape

(1185698, 10)

### 5. kwh Sütunu Eksik, Negatif, Aşırı Uç Değer Tespiti

In [56]:
df_tahakkuk_all["kwh"].isna().sum()   # eksik değer bulunmamaktadır.

np.int64(0)

In [57]:
(df_tahakkuk_all["kwh"]<0).sum()       # 151 adet negatif kayıt var. Fatura iptali ya da düzeltme olmuş olabilir.

np.int64(151)

In [61]:
df_tahakkuk_all["kwh"].describe()

count    1.185698e+06
mean     9.264207e+01
std      9.504052e+02
min     -2.537064e+04
25%      1.801000e+01
50%      4.662000e+01
75%      8.000000e+01
max      1.535757e+05
Name: kwh, dtype: float64

### 6. Hesap Sınıfına Göre Ortalama, Medyan ve Standart Sapma Tüketimleri

In [76]:
hs_statistics= df_tahakkuk_all.groupby("Hesap Sınıfı")["kwh"].agg(ortalama_kwh="mean", median_kwh="median", std_kwh="std").sort_values("ortalama_kwh", ascending=False)
hs_statistics=hs_statistics.round(2)
hs_statistics.head(10)

                                          ortalama_kwh  median_kwh   std_kwh
Hesap Sınıfı
Karayolları Genel Müdürlüğü Aydınlatma        30203.43    36810.90  16963.57
Aritma Tesisleri                              16594.17    16186.91  11656.71
Lisansız Üreticiler                           16155.25      322.32  35926.42
Sanayi                                         7293.80     1531.68  13716.34
İçme-Kullanma Suyu (Belediye)                  5213.51      400.02   8948.07
Tarımsal Faaliyetler (Kooperatif)              3779.29      282.72   9426.94
Lisansız Üreticiler - Resmi Daire              1195.05      770.62   1229.58
Resmi SAĞLIK KURULUŞLARI,RESMİ SPOR TES.       1154.74      239.90   3804.87
Resmi Üniversite,Yük.Okul,Kurs,Yurt,Okul        883.89      285.41   1435.31
1 SAYILI CETVELDE YER ALAN KAMU İDARESİ         688.44       23.86   3911.91